.rules{
	padding-top: 60px;
	padding-bottom: 60px;
}

.rules__header{
	visibility: hidden;
	position: absolute;
}

.rules-list__container{
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 25px;
	margin-bottom: 30px;
	background: #F5F4FA;
	width: 100%;
}

.rules-list__title{
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.rules-list__text{
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-text-color);
	
}

.rules-list__item{
	width: 100%;
	display: flex;
    flex-direction: column;
    align-items: center;

	
}

.rules-list__item:nth-child(-n+2) {
    margin-bottom: 30px;
}

.rules-list{
	display: flex;
	flex-direction: column;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.rules-list{
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: baseline;
	}

	.rules-list__item{
		width: 354px;
		align-items: flex-start;
	}

	.rules-list__text{
		text-align: left;
	}

	

}


@media screen and (max-width: 768px) {
	
	.rules-list__item:nth-child(-n+3) {
		margin-bottom: 30px;
	}



}

@media screen and (min-width: 1200px){
	.rules{
		padding-top: 94px;
		padding-bottom: 94px;
	}

	.rules-list__item{
		width: 270px;
	}



	.rules-list__item{
		&:not(:last-child){
			margin-right: 30px;
			margin-bottom: 0;
		}
	}
}
